body {
	background-color: #000;
}

#episode-info h4 a {
	color: #000;
}
@media(max-width:767px){
	#banner-col {
		padding-left: 0px;
		padding-right: 0px
	}
	/*hacky way to deal with rounding error*/
	#tv-row { 
		background-color: #0000FF;
	}
}

#date {
	background-color: #000;
	color: #fff;
	font-family: "Futura";
}

#poster {
	max-height: 220px;
}


